.main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.image {
  width: 350px;
  background-image: url("../assets/profile.jpeg");
  height: 350px;
  border-radius: 50% !important;
  background-position: center;
}

.text {
  color: rgb(154, 157, 158);
}

.info {
  margin-left: 20px;
  width: 50vw;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: fit-content;
}

.body {
  width: 75vw;
}

.button {
  background-image: linear-gradient(
    to right,
    rgb(157, 112, 247),
    rgb(31, 79, 182)
  );
  color: white;
  height: 40px;
  margin: 40px;
  border-radius: 12px;
  border: none;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: rgb(31, 79, 182);
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
